In [1]:
import numpy as np
import pandas as pd

In [2]:
pd.__version__

'1.4.4'

In [4]:
lists=[1,2,-3,4.5,"Abhishek"]
print(lists)

[1, 2, -3, 4.5, 'Abhishek']

In [5]:
series1=pd.Series(lists)
print(series1)

0           1
1           2
2          -3
3         4.5
4    Abhishek
dtype: object

In [6]:
type(series1)

pandas.core.series.Series

In [7]:
series2=pd.Series([1,2,3,4,5])
print(series2)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [8]:
empty_series=pd.Series([])
print(empty_series)

Series([], dtype: float64)

C:\Users\ABHISHEK KUMAR\AppData\Local\Temp\ipykernel_4664\4247181668.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  empty_series=pd.Series([])

In [11]:
series3=pd.Series([1,2,3,4],index=['a','b','c','d'] ,dtype=float)
print(series3)

a    1.0
b    2.0
c    3.0
d    4.0
dtype: float64

In [ ]:
series3=pd.Series([1,2,3,4],index=['a','b','c','d'] ,dtype=float,name="data values")
print(series3)